CONFIG_KALLSYMS_ALL=y
CONFIG_COMPAT_VDSO=y
CONFIG_THUMB2_COMPAT_VDSO=y
# CONFIG_FAKE_UNAME_NONE is not set
CONFIG_FAKE_UNAME_5_10=y
CONFIG_FAKE_UNAME_ZYGOTE=y

#
# KernelSU
#
CONFIG_KSU=y
CONFIG_KSU_SUSFS=y
CONFIG_KPROBES=y
CONFIG_KSU_KPROBES_KSUD=y
CONFIG_KSU_HACK_ARM64_BRANCH_LINK=y
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED=y
CONFIG_KSU_LSM_SECURITY_HOOKS=y