CONFIG_KALLSYMS_ALL=y
CONFIG_COMPAT_VDSO=y
CONFIG_THUMB2_COMPAT_VDSO=y
CONFIG_LTO=y
CONFIG_LTO_CLANG=y
CONFIG CFI_CLANG=y
# CONFIG SHADOW_CALL_STACK is not set
CONFIG_THINLTO=y
CONFIG_NOMOUNT=y

# Spoof BPF
CONFIG_FAKE_UNAME_5_10=y

# Re-Kernel
CONFIG_REKERNEL=y
CONFIG_REKERNEL_NETWORK=y

#
# KernelSU
#
CONFIG_KSU=y
CONFIG_KSU_HACK_ARM64_BRANCH_LINK=y
# CONFIG_KSU_DEBUG is not set
CONFIG_KSU_THRONE_TRACKER_ALWAYS_THREADED=y
CONFIG_KSU_LSM_SECURITY_HOOKS=y

#
# KernelSU - SUSFS
#
CONFIG_KSU_SUSFS=y
CONFIG_KSU_SUSFS_SUS_PATH=y
CONFIG_KSU_SUSFS_SUS_MOUNT=y
CONFIG_KSU_SUSFS_SUS_KSTAT=y
CONFIG_KSU_SUSFS_TRY_UMOUNT=y
CONFIG_KSU_SUSFS_SPOOF_UNAME=y
CONFIG_KSU_SUSFS_ENABLE_LOG=y
CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y
CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y
CONFIG_KSU_SUSFS_OPEN_REDIRECT=y
CONFIG_KSU_SUSFS_SUS_MAP=y